<% provide(:title, 'About') %>
<h1>Picture Book</h1>
<p>
  Picture Book is designed with the little user in mind. With Picture Book, parents can easily arrange a series of pictures and sounds their child can interact with. Whether it's flash cards for different colors, pictures of grand parents, or your very own story, Picture Book is there for your child's needs.
</p>
<p>
	Programmed by David Moore
</p>