<div class="center hero-unit">
	<h1>Welcome to Picture Book</h1>

	<h2>
  		This is the home page for Picture Book the programmable childrens' book.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="center">
<%= link_to image_tag("picture_book.png", alt: "Picture Book"), 'http://rubyonrails.org/' %>
</div>