<li>
  <span class="title"><%= link_to book.title, book_path(book) %></span>
  <% if current_user?(book.user) %>
    <%= link_to "delete", book, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: book.title %>
    <%= link_to "edit", edit_book_path(book) %>
  <% end %>
</li>