<% provide(:title, @book.title) %>
<div class="center hero-unit">
  <h1>
    <%= @book.title %>
  </h1>
  <section class="Page">
    <% if @book.book_pages.any? %>
      <%= render @book_pages %>
      <%= will_paginate @book_pages %>
    <% end %>
  </section>   
</div>