<footer class="footer">
  <small>
    <a href="https://github.com/CanastaNasty/picture_book">Picture Book</a>
    by David Moore
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>